<template name="roomTypesList">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-th-list fa-fw"></i> Room Types
        <span class="pull-right text-muted small"><em>Click to edit</em></span>
      </div>
      <div class="panel-body">
          <div class="list-group">
            {{#each roomtypes}}
              {{> roomType}}
            {{else}}
              <p>You've not added any room types.</p>
            {{/each}}
          </div>
      </div>
    </div>
  </div>
</template>

<template name="roomType">
  <a href="#" class="list-group-item">
    <i class="fa fa-fw fa-lg fa-tablet"></i> {{type}}
    <span class="pull-right text-muted small"><em>{{#if price}}${{/if}}{{price}}</em></span>
  </a>
</template>
