<template name="calendar">
  <form role="form">
    <div class="form-group">
      <label for="availability">When is your listing available?</label>

      <div>
        <label class="radio-inline">
          <input id="always" type="radio" name="availability" value="always">Always
        </label>
        <label class="radio-inline">
          <input id="sometimes" type="radio" name="availability" value="sometimes">Sometimes
        </label>
      </div>

    </div>
  </form>

  <div class="alert alert-success">
    <strong>{{calendarInfo}}</strong>. This is your calendar! After listing your hotel, return here to update your availability.
  </div>
</template>
