<template name="calendar">
  <div class="col-md-3 edit-pane">
    <h4>When is your listing available?</h4>
    <form role="form">
      <div class="form-group">
        <div>
          <label class="radio-inline">
            <input id="always" type="radio" name="availability" value="always">Always
          </label>
          <label class="radio-inline">
            <input id="sometimes" type="radio" name="availability" value="sometimes">Sometimes
          </label>
        </div>
      </div>
    </form>

    <div class="alert alert-success">
      <strong>Saving...</strong>
    </div>
  </div>
  <div class="col-md-7 edit-pane">
  </div>
</template>
