<template name="sidebar">
  <div class="navbar-default navbar-static-side" role="navigation">
    <div class="collapse navbar-collapse sidebar-collapse">
      <ul class="nav" id="side-menu">
        <li>
          <a href="#"><i class="fa fa-building-o fa-fw"></i> Room Types
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-xs">
                <i class="fa fa-check-circle"></i>
              </button>
            </div>
          </a>
        </li>
        <li>
          <a href="#"><i class="fa fa-quote-left fa-fw"></i> Overview
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-xs">
                <i class="fa fa-plus-circle"></i>
              </button>
            </div>
          </a>
        </li>
        <li>
          <a href="#"><i class="fa fa-picture-o fa-fw"></i> Photos
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-xs">
                <i class="fa fa-plus-circle"></i>
              </button>
            </div>
          </a>
        </li>
        <li>
          <a href="#"><i class="fa fa-shopping-cart fa-fw"></i> Amenities
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-xs">
                <i class="fa fa-plus-circle"></i>
              </button>
            </div>
          </a>
        </li>
        <li>
          <a href="#"><i class="fa fa-map-marker fa-fw"></i> Address
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-xs">
                <i class="fa fa-plus-circle"></i>
              </button>
            </div>
          </a>
        </li>
        <li>
          <a href="#"><i class="fa fa-list fa-fw"></i> Listing
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-xs">
                <i class="fa fa-plus-circle"></i>
              </button>
            </div>
          </a>
        </li>
      </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</template>
