<template name="sidebar">
  <div class="navbar-fixed-top">
    <div class="navbar-default navbar-static-side collapse navbar-collapse" role="navigation">
      <ul class="nav" id="side-menu">
        <li>
          <a href="#roomtypes"><i class="fa fa-building-o fa-fw"></i> Room Types
            {{> segmentDone}}
          </a>
        </li>
        <li>
          <a href="#overview"><i class="fa fa-quote-left fa-fw"></i> Overview
            {{> segmentPending}}
          </a>
        </li>
        <li>
          <a href="#photos"><i class="fa fa-camera fa-fw"></i> Photos
            {{> segmentPending}}
          </a>
        </li>
        <li>
          <a href="#amenities"><i class="fa fa-shopping-cart fa-fw"></i> Amenities
            {{> segmentPending}}
          </a>
        </li>
        <li>
          <a href="#address"><i class="fa fa-map-marker fa-fw"></i> Address
            {{> segmentPending}}
          </a>
        </li>
        <li>
          <a href="#listing"><i class="fa fa-list fa-fw"></i> Listing
            {{> segmentPending}}
          </a>
        </li>
      </ul>
      <!-- /#side-menu -->
    </div>
    <!-- /.navbar-static-side -->
  </div>
</template>
