.search {
  text-align: center;
}

.search form  {
  background-color: rgba(0, 0, 0, 0.3); 
  margin-left: 21.5%;
  margin-right: 21.5%;
  padding: 6px;
  border-radius: 4px;
}

.vert-text h3, .vert-text h1  {
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
}

.navbar-default .navbar-brand {
  color: #000;
}

.new-hotel  {
  padding: 5% 25%;
}

.app-main {
  background-color: #fff;
}

.edit-panel {
  min-height: 620px;
}

.overview {
  border: 0;
  border-radius: 0;
}

.no-border  {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.seneca-file-input  {
  display: inline;
  margin-top: 150px;
  margin-left: 400px;
  visibility: hidden;
  width: 0;
  height: 0;
}
