<template name="header">
  <nav class="navbar navbar-default no-border" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#seneca-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'landing'}}">Herebly</a>
      </div>
      <div class="collapse navbar-collapse" id="seneca-navbar-collapse">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" id="where-header" class="form-control" placeholder="Where are you going?">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {{>_loginButtons}}
          {{# unless location}}
            <li><a href="{{pathFor 'newHotel'}}">List Your Hotel</a></li>
          {{/unless}}
        </ul>
      </div>
    </div>
  </nav>
</template>
