<template name="editHotel">
  {{> header location="in"}}
  <div id="page-wrapper" style="margin-top: 50px;">
    {{> roomTypes}}
    {{> overview}}
    {{> photos}}
    {{> amenities}}
    {{> address}}
    {{> listing}}

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container-fluid">
        <button type="button" class="btn btn-info navbar-btn btn-xs">
          <i class="fa fa-th-list fa-fw"></i> View your listings
        </button>
        <button type="button" class="btn btn-success navbar-btn btn-xs pull-right">
          <i class="fa fa-eye fa-fw"></i> Preview
        </button>
      </div>
    </nav>
  </div>
  {{> hotelCreateModal}}
  {{> hotelDeleteModal}}
</template>
