<template name="editHotel">
  <form class="main" role="form">
    <div class="form-group">
      <label for="name">Name of Hotel</label>
      <input name="name" type="text" class="form-control" value="{{name}}" placeholder="Hotel Name"/>
    </div>

    <div class="form-group">
      <label for="website">Website</label>
      <input name="website" type="text" class="form-control" value="{{website}}" placeholder="Website"/>
    </div>

    <button type="submit" class="btn btn-primary submit">Submit</button>
    <hr/>
    <button type="submit" class="btn btn-danger delete">Delete Hotel</button>
  </form>
</template>
