<template name="newHotel">
  <form class="main">
    <div class="control-group">
      <label class="control-label" for="name">Name of Hotel</label>
      <div class="controls">
        <input name="name" type="text" value="" placeholder="Hotel Name"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="website">Website</label>
      <div class="controls">
        <input name="website" type="text" value="" placeholder="Website"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
        <textarea name="description" type="text" value=""/>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-primary"/>
      </div>
    </div>
  </form>
</template>
