<template name="newHotel">
  <form role="form">
    <div class="form-group">
      <label for="name">Name of Hotel</label>
      <input name="name" type="text" class="form-control" placeholder="Hotel Name">
    </div>

    <div class="form-group">
      <label for="website">Website</label>
      <input name="website" type="text" class="form-control" placeholder="Website">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" type="text" class="form-control" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</template>
